#about{
    background-color: rgba(128, 128, 128, 0.048);
    background-image: url(../images/Noise.png);
    padding: 15rem 0;
    position: relative;
    z-index: -1;
}


.about__txt--title{
    color: var(--green);
    font-weight: 500;
}

.about__txt--paragraph.paragraph{
    opacity: .7;
}

.about__cirle--1, .about__cirle--2{
    position: absolute;
}

.about__cirle--1{
    width: 10rem;
    top: 5rem;
    left: 4rem;
    z-index: -1;
}
.about__cirle--2{
    width: 20%;
    top: 0;
    right: 5rem;
    z-index: -1;
}

@media screen and (max-width: 640px) {
    .about__cirle--2{
        width: 40%;
    }
    
}
@media screen and (min-width: 840px) {
    .about__txt{
        width: 50%;
    }
}