#header,
#hero {
  background-color: var(--green);
  background-image: url(../images/Noise.png);
}

#header {
  padding: 2rem 0;
}

.brand__logo img {
  width: clamp(60%, 80%, 100%);
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__list {
  display: flex;
  font-size: clamp(1.6rem, 2vw, 2rem);
}

.nav .nav__item a {
  text-decoration: none;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
}

.nav--menu {
  width: 3.5rem;
  cursor: pointer;
}

#hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero .hero__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  gap: 2rem;
  padding: 4rem 0;
  margin-bottom: 4rem;
}

.hero__txt--title {
  font-size: clamp(5rem, 8vw, 13rem);
  font-weight: bold;
  line-height: 94.6%;
}
.hero__txt--paragraph {
  margin-bottom: 4rem;
}

#hero .hero__download {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#hero .hero__download img {
  width: 25rem;
}

#hero .hero__img {
  display: block;
  width: 120rem;
}

@media screen and (max-width: 639px) {
  .nav {
    display: none;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/Noise.png);
    padding: 2rem;
    position: absolute;
    left: 7rem;
    top: 5rem;
    z-index: 1;
    width: 70%;
    border-radius: 0.75rem;
    transition: all 0.5s ease-in-out;
  }

  .nav .nav__list {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .nav__list .nav__item {
    padding: 0.75em 0;
    border-bottom: solid transparent 0.25rem;
  }
  .nav__list .nav__item:hover {
    border-bottom: solid var(--green) 0.25rem;
  }

  .nav .nav__item a {
    color: var(--dark);
    font-size: 1.8rem;
    font-weight: 500;
  }
  .nav .nav__item a:hover {
    color: var(--green);
  }
}

@media screen and (min-width: 640px) {
  .nav {
    display: block !important;
  }
  .nav .nav__list {
    display: flex;
    gap: 0.5rem;
    color: var(--white);
  }

  .nav .nav__item{
    padding: 2rem 0;
    border-bottom: solid .25rem transparent;
    transition: all .25s ease-in;
  }
  .nav .nav__item:hover{
    padding: 2rem 0;
    border-bottom: solid .25rem var(--white);
  }

  .nav__item + .nav__item {
    margin-left: clamp(1.75rem, 2.5vw, 5rem);
  }

  .nav--menu {
    display: none;
  }

  #hero .hero__txt {
    width: 60%;
    margin: auto;
  }

  .hero__txt--paragraph {
    width: 70%;
  }

  #hero .hero__download {
    flex-direction: row;
  }
}
